<div class="col-md-12">
     <h2><%= "Hello " + current_user.name %></h2>
     <h5>Date Today: <%= DateTime.now.strftime('%A %B %d, %Y') %> </h5>
     <div class="card">
          <div class="card-header card-header-primary">
               <h4 class="card-title">Appointments for today</h4>
               <p>
                    There are coming <%= pluralize(Appointment.where('doa > ?', Time.zone.today).count, "appointment")  %>
               </p>
          </div>
          <div class="card-body">
               <% if @appointments.empty? %>
                    <div class="alert alert-warning text-center">
                         <h3>No Reservation</h3>
                    </div>
               <% else %>
                    <ul class="horizontal-display" style="padding-left: 10px!important;">
                         <% @appointments.each do |a| %>
                              <li>
                                   <dl>
                                        <dt>Patient: <%= a.name %></dt>
                                        <dd style="margin-left: 30px;">Doctor: <%= a.doctor.name%>, <em><%= a.doctor.field.area %></em></dd>
                                        <dd style="margin-left: 30px;">Date of Appointment: <%= a.doa.strftime('%A %B %d, %Y') %></dd>
                                   </dl>
                             </li>
                         <% end %>
                    </ul>
                    <div class="d-flex justify-content-center">
                         <%= paginate @appointments  %>
                    </div>

               <% end  %>
          </div>
     </div>
</div>