
<div class="container">
     <div class="row">
          <div class="col-md-6">
               <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                         <div class="card-icon">
                                   <span>
                                        <h1><%= Doctor.count %></h1>
                                   </span>
                         </div>
                         <h3 class="card-title">Number of Doctors</h3>
                    </div>
                    <div class="card-footer">
                         <div class="stats">
                              <%= link_to "View Doctors", doctors_path %>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-md-6">
               <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                         <div class="card-icon">
                                   <span>
                                        <h1><%= User.count %></h1>
                                   </span>
                         </div>
                         <h3 class="card-title">Number of Staff</h3>
                    </div>
                    <div class="card-footer">
                         <div class="stats">
                              <%= link_to "View Staff", users_path %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6">
               <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                         <div class="card-icon">
                                  <span>
                                       <h1><%= Appointment.where(doa: Time.zone.today).count %></h1>
                                  </span>
                         </div>
                         <h3 class="card-title">Today's Appointment</h3>
                    </div>
                    <div class="card-footer">
                         <div class="stats">
                              <%= link_to "View Today's Appointments", appointments_today_path %>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-md-6">
               <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                         <div class="card-icon">
                                   <span>
                                        <h1><%= Appointment.where('doa > ?', Time.zone.today).count %></h1>
                                   </span>
                         </div>
                         <h3 class="card-title">Coming Appointments</h3>
                    </div>
                    <div class="card-footer">
                         <div class="stats">
                              <%= link_to "View Coming Appointments", appointments_coming_path %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6">
               <div class="card card-chart">
                    <div class="card-header card-header-primary">
                         <div><h4>Number of today's appointments per Doctor</h4></div>
                    </div>
                    <div class="card-body">
                         <ul class="horizontal-display" style="padding-left: 10px!important;">
                              <% @doctors.each do |d| %>
                                   <li>
                                        <%= d.name %>
                                        <span class="float-sm-right rounded-circle" style= "clear:both;border-radius: 100px;background-color:#56ae5a;padding:5px;height:30px;width:30px;text-align: center;color: #fff;" >
                                             <%= d.appointments.where(doa: Time.zone.today).count %>
                                        </span>
                                   </li>
                              <% end %>
                         </ul>
                    </div>

               </div>
          </div>
          <div class="col-md-6">
               <div class="card card-chart">
                    <div class="card-header card-header-primary">
                         <div><h4>Number of coming appointments per Doctor</h4></div>
                    </div>
                    <div class="card-body">
                         <ul class="horizontal-display" style="padding-left: 10px !important;">
                              <% @doctors.each do |d| %>
                                   <li>
                                        <%= d.name %>
                                        <span class="float-sm-right rounded-circle" style= "clear:both;border-radius: 100px;background-color:#56ae5a;padding:5px;height:30px;width:30px;text-align: center;color: #fff;" >
                                        <%= d.appointments.where('doa > ?', Time.zone.today).count %>
                                   </span>
                                   </li>

                              <% end %>
                         </ul>
                    </div>

               </div>
          </div>
     </div>
</div>
