<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-5 col-lg-5 mx-auto ">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Sign In</h5>
					<h5 class="card-title text-center">Doctor's Account</h5>
                         <center>
                              <%= image_tag("https://res.cloudinary.com/gibetirol/image/upload/c_scale,w_100/v1460370669/nueva_l2bvia.jpg", class: "text-center" , style: "margin-bottom: 20px;") %>
                         </center>
					<% flash.each do |key, value|  %>
						<div class="alert alert-<%= key %>">
							<%= value %>
						</div>
					<% end %>
					<%= form_with(url: doctor_login_path, scope: :session, local: true, html: {class: "form-signin"}) do |f|  %>
						<div class="form-label-group">
							<%= f.email_field :email,  id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true, required: true %>
							<%= f.label "Email address", for: "inputEmail"%>
						</div>
						<div class="form-label-group">
							<%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password" %>
							<%= f.label "Password", for: "inputPassword" %>
						</div>
						<div class="form-label-group custom-control custom-checkbox mb-3">
							<%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1" %>
							<%= f.label "Remember password", class: "custom-control-label", for: "customCheck1" %>

						</div>
						<!--
						<div class="custom-control custom-checkbox mb-3">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1"> Remember password</label>
						</div>
							-->
						<%= f.submit "Log In", class: "btn btn-primary btn-lg btn-block" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>