<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
	<!--
	  Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

	  Tip 2: you can also add an image using data-image tag
   -->
	<div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
		Creative Tim
	</a></div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item active  ">
				<%= link_to '<i class="material-icons">dashboard</i><p>Dashboard</p>'.html_safe, root_url, class: 'nav-link', target: "_self" %>
			</li>
			<li class="nav-item ">
				<%= link_to '<i class="material-icons">person</i><p>User Profile</p>'.html_safe, current_user || current_doctor, class: 'nav-link',  target: "_self"%>
			</li>
			<% unless logged_in_doctor? %>
				<li class="nav-item ">
					<%= link_to '<i class="material-icons">group_add</i><p>Users</p>'.html_safe, users_url, class: 'nav-link', target:  "_self" %>
				</li>
				<li class="nav-item">
					<%= link_to  '<i class="material-icons">library_add</i><p>Specialty</p>'.html_safe, fields_url, class: 'nav-link', target: "_self"%>
				</li>
			<% end %>
               <li class="nav-item">
                    <%= link_to '<i class="material-icons">assignment_ind</i><p>Doctors</p>'.html_safe, doctors_path, class: 'nav-link', target: "_self" %>
               </li>
               <% if logged_in_doctor? %>
               <li class="nav-item">
                    <%= link_to '<i class="material-icons">calendar_view_day</i><p>Appointments</p>'.html_safe, all_appointments_path, class: 'nav-link' %>
               </li>
               <li>
                    <%= link_to '<i class="material-icons">calendar_today</i><p>Today''s Appointments</p>'.html_safe, today_appointments_path, class: 'nav-link' %>
               </li>
               <li>
                    <%= link_to '<i class="material-icons">assignment</i><p>Coming Appointments</p>'.html_safe, coming_appointments_path, class: 'nav-link' %>
               </li>
               <% end %>

		</ul>
	</div>
</div>