<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
		          <% if current_user  %>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">notifications</i>
						<span class="notification">
                                        <%
                                             today = Appointment.where(doa: Time.zone.today).count
                                             coming = Appointment.where('doa > ?', Time.zone.today).count
                                             total = today + coming
                                        %>
                                        <%= total %>

                              </span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 220px !important;">
						<%= link_to "Today's #{'appointment'.pluralize(today)} <span class='notification'>#{today}<span>".html_safe, appointments_today_path, class: "dropdown-item" %>
						<%= link_to "Coming #{'appointment'.pluralize(coming)} <span class='notification'>#{coming}<span>".html_safe, appointments_coming_path , class: "dropdown-item" %>
						<%= link_to "Number of #{'staff'.pluralize(User.count)} <span class='notification'>#{User.count}<span>".html_safe, users_path, class: "dropdown-item" %>
						<%= link_to "Number of #{'doctor'.pluralize(Doctor.count)} <span class='notification'>#{Doctor.count}<span>".html_safe, doctors_path, class: "dropdown-item" %>
					</div>
				</li>

                         <% end %>
				<li class="nav-item dropdown">
					<a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">person</i>
						<p class="d-lg-none d-md-block">
							Account
						</p>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
						<%= link_to "Profile", logged_in? ? current_user : current_doctor, class: "dropdown-item" %>
						<%= link_to "Settings", logged_in? ? edit_user_path(current_user) : edit_doctor_path(current_doctor), class: "dropdown-item" %>
						<div class="dropdown-divider"></div>
						<%= link_to "Log out", logged_in? ? logout_path : doctor_logout_path, method: :delete, class: "dropdown-item" %>
					</div>

				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- End Navbar -->