<div class="col-md-10">
     <% unless logged_in_doctor? %>
          <%= link_to "Add Doctor", new_doctor_path, class:"btn btn-primary"%>
     <% end %>
     <div class="card">
          <div class="card-header card-header-primary">
               <h4 class="card-title">List of Doctors</h4>
               <p class="card-category">There are <%= pluralize(Doctor.count, "Doctor") %></p>
          </div>
          <div class="card-body">
               <div class="row">

                    <div class="col-md-12">
                         <ul class="horizontal-display">
                              <%= render @doctors %>
                         </ul>
                         <div class="d-flex justify-content-center">
                              <%= paginate @doctors  %>
                         </div>

                    </div>
               </div>
          </div>
     </div>


</div>


