
<div class="col-md-10">
      <div class="card">
            <div class="card-header card-header-primary">
                  <h4 class="card-title">Doctor Profile</h4>
                  <p class="card-category">Speciality: <%= @doctor.field.area %></p>
            </div>
            <div class="card-body">
                  <div class="row">
                        <div class="col-md-2">
                              <%= gravatar_for @doctor %>
                        </div>
                        <div class="col-md-8">
                              <table class="table">
                                    <tr>
                                          <tr scope="row">
                                                <td colspan="2"><h3><%= @doctor.name %></h3></td>
                                          </tr>
                                          <tr scope="row">
                                                <td><h4>License Number </h4></td>
                                                <td><h4><%= @doctor.license %></h4></td>
                                          </tr>
                                          <tr scope="row">
                                                <td>Email</td>
                                                <td><%= @doctor.email %></td>
                                          </tr>
                                          <tr scope="row">
                                                <td>Contact</td>
                                                <td><%= @doctor.contact %></td>
                                          </tr>
                                          <tr scope="row">
                                                <td>Address</td>
                                                <td><%= @doctor.address %></td>
                                          </tr>
                                    </tbody>
                              </table>
					    <% if correct_user?  %>
                              	<%= link_to "View Appointments", "#", class: "btn btn-primary", target: "_self" %>
					    <% end %>
                        </div>

                  </div>
            </div>
      </div>
</div>
