
<div class="col-md-12">
     <h2><%= "Hello Doctor " + @doctor.name  %></h2>
     <h5>Date Today: <%= DateTime.now.strftime('%A %B %d, %Y')    %>     </h5>
     <div class="card">
          <div class="card-header card-header-primary">
               <h4 class="card-title">Appointments</h4>
               <p class="card-category">Today and Coming Days</p>
          </div>
          <div class="card-body">
               <div class="row">
                    <div class="col-md-6">
                         <div class="card card-chart">
                              <div class="card-header card-header-success">
                                   <h4>You have <%= pluralize(current_doctor.appointments.where(doa: Time.zone.today).count, "appointment") %> for today</h4>
                              </div>
                              <div class="card-body">
                                   <ul class="horizontal-display" style="padding-left: 10px!important;">
                                        <% @today_appointments.each do |t| %>
                                             <li>
                                                  <%= t.name %>
                                                  <span class="float-sm-right" style= "clear: both;" >
                                                       <%= link_to '<i class="material-icons", style="font-size: 24px; color: #2f4858">perm_contact_calendar</i>'.html_safe, appointment_path(t), style: "padding-right: 10px", target: "_self", title:"View Appointment" %>
                                                  </span>
                                             </li>
                                        <% end %>
                                        <% if current_doctor.appointments.where(doa: Time.zone.today).count > 10 %>
                                             <div class="text-center" style="margin-top: 20px">
                                                  <%= link_to "View More", today_appointments_path, class: "btn btn-success" %>
                                             </div>
                                        <% end %>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6">
                         <div class="card card-chart">
                              <div class="card-header card-header-warning">
                                   <h4>You have <%= pluralize(current_doctor.appointments.where('doa > ? ', Time.zone.today).count, "coming appointment") %> </h4>
                              </div>
                              <div class="card-body">
                                   <ul class="horizontal-display">
                                        <% @all_appointments.each do |a| %>
                                             <li>
                                                  <%= a.name %>
                                                  <span class="float-sm-right" style= "clear: both;" >
                                                       <%= link_to '<i class="material-icons", style="font-size: 24px; color: #2f4858">perm_contact_calendar</i>'.html_safe, appointment_path(a), style: "padding-right: 10px", target: "_self", title:"View Appointment" %>
                                                  </span>
                                             </li>
                                        <% end %>
                                   </ul>
                                   <% if current_doctor.appointments.where('doa > ? ', Time.zone.today).count > 10 %>
                                        <div class="text-center" style="margin-top: 20px">
                                             <%= link_to "View More", coming_appointments_path, class: "btn btn-warning" %>
                                        </div>
                                   <% end  %>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
