<div class="col-md-12">
     <h2><%= "Hello Doctor " + current_doctor.name %></h2>
     <h5>Date Today: <%= DateTime.now.strftime('%A %B %d, %Y') %> </h5>
     <div class="card">
          <div class="card-header card-header-primary">
               <h4 class="card-title">Appointments for today</h4>
               <p>
                    You have <%= pluralize(current_doctor.appointments.where(doa: Time.zone.today).count, "appointment")  %> today
               </p>
          </div>
          <div class="card-body">
               <% if @today_appointments.empty? %>
                    <div class="alert alert-warning text-center">
                         <h3>No Reservation</h3>
                    </div>
               <% else %>
                    <ul class="horizontal-display" style="padding-left: 10px!important;">
                         <% @today_appointments.each do |t| %>
                               <li>
                                    <%= t.name %>
                                    <span class="float-sm-right" style= "clear: both;" >
                                        <%= link_to '<i class="material-icons", style="font-size: 24px; color: #2f4858">perm_contact_calendar</i>'.html_safe, appointment_path(t), style: "padding-right: 10px", target: "_self", title:"View Appointment" %>
                                   </span>
                               </li>
                         <% end %>
                    </ul>
                    <div class="d-flex justify-content-center">
                         <%= paginate @today_appointments  %>
                    </div>
               <% end  %>
          </div>
     </div>
</div>