<div class="wrapper" style="margin-top: 60px !important;">
     <div class="content">
          <div class="container-fluid">
               <div class="row">
                    <div class="offset-1 col-md-10 offset-1">
                         <div class="card">
                              <div class="card-header card-header-primary">
                                   <h4 class="card-title" style="padding-top: 20px; padding-bottom: 20px;">We have <%= pluralize(Doctor.count, "doctor") %> available</h4>
                              </div>
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col-md-6">
                                             <ul class="horizontal-display" style="padding-left: 10px!important;">
                                                  <% doctors = @doctors.sort_by { | d | d.field.area  } %>
                                                  <% doctors.each do |d| %>
                                                       <li>
                                                            <%= d.name %>
                                                            <span class="float-sm-right" style= "clear: both;" >
                                                                 <%= d.field.area %>
                                                            </span>
                                                       </li>
                                                  <% end %>
                                             </ul>
                                        </div>
                                        <div class="col-md-6">
                                             <ul class="horizontal-display" style="padding-left: 10px!important;">
                                                  <% @fields.each do |f| %>
                                                       <li>
                                                            <h4><%= f.area %>
                                                                 <span class="float-sm-right" style= "clear:both;border-radius: 100px;background-color:#56ae5a;padding:5px;height:40px;width:40px;text-align: center;color: #fff;"  >
                                                                 <%= Doctor.where(field_id: f.id).count %>
                                                            </span>
                                                            </h4>
                                                       </li>
                                                  <% end %>
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="row">
                                        <div class="col-md-12">
                                             <center>
                                                  <%= link_to "Back to Previous", welcome_path, class: "btn btn-primary btn-lg" %>
                                             </center>

                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>