<div class="wrapper" style="margin-top: 60px !important;">
     <div class="content">
          <div class="container-fluid">
               <div class="row">
                    <div class="offset-1 col-md-10">
                         <div class="card">
                              <div class="card-header card-header-primary">
                                   <h4 class="card-title">Appointment</h4>
                                   <p class="card-category">Fill-out completely</p>
                              </div>
                              <div class="card-body">
                                   <%= form_for @appointment,  html: {class: 'form-horizontal'} do |f| %>
                                        <div class="row">
                                             <div class="col-md-12">
                                                  <%= render 'shared/error_messages', object: f.object %>
                                             </div>
                                        </div>
                                        <div class="row">
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :name, class: "bmd-label-floating" %>
                                                  <%= f.text_field :name, class: "form-control", autofocus:true %>
                                             </div>
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :address, class: "bmd-label-floating" %>
                                                  <%= f.text_field :address, class: "form-control" %>
                                             </div>
                                             <div class="col-md-4 form-group"?>
                                                  <%= f.label :email, class: "bmd-label-floating" %>
                                                  <%= f.email_field :email, class: "form-control" %>
                                             </div>
                                        </div>
                                        <div class="row">
                                             <div class="col-md-4 form-group ">
                                                  <%= f.label :contact, class: "bmd-label-floating" %>
                                                  <%= f.text_field :contact, class: "form-control" %>
                                             </div>

                                             <div class="col-md-4 form-group">
                                                  <%= f.label :dob, "Date of Birth", class: "bmd-label-floating"  %>

                                                  <%= f.text_field :dob, class: 'form-control change-to-white',id: "dob", placeholder: "Select date", data: {input: 'true'}%>
                                             </div>
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :doa, "Date of Appointment", class: "bmd-label-floating"  %>
                                                  <%= f.text_field :doa, class: 'form-control change-to-white', id: "doa", placeholder: "Select date", data: {input: 'true'}%>
                                             </div>
                                        </div>
                                        <div class="row">
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :job, class: "bmd-label-floating"  %>
                                                  <%= f.text_field :job, class: "form-control", style: "margin-top:5px;" %>
                                             </div>
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :gender, class: "bmd-label-floating"  %>

                                                  <%=  f.select :gender, options_for_select(["Male", "Female"]), {prompt: "Selection Option"}, class: "form-control" %>
                                             </div>
                                             <div class="col-md-4 form-group">
                                                  <%= f.label :doctor, "Select you doctor", class: "bmd-label-floating"  %>
                                                  <%= f.collection_select :doctor_id, Doctor.order(:name), :id, :name,{prompt: "Select a doctor"}, {class: "form-control"}%>
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                             <center>
                                                  <%= f.submit "Submit Appointment", class: "btn btn-primary" %>
                                             </center>
                                        </div>
                                   <% end %>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>


<script type="text/javascript">
    $('#datepicker_dob .input-group.date').datepicker({
        format: "yyyy-mm-dd",
        endDate: '+0d',
        autoClose: true

    });

    $('#datepicker_doa .input-group.date').datepicker({
        format: "yyyy-mm-dd",
        startDate: new Date()

    });
</script>

