
<div class="offset-1 col-md-10">
     <div class="card">
          <div class="card-header card-header-primary">
               <h3 class="card-title">Thanks for your appointment</h3>
               <p class="card-category">Please review the details below</p>
          </div>
          <div class="card-body">
               <div class="row">
                    <div class="col-md-6">
                         <%= image_tag 'https://res.cloudinary.com/gibetirol/image/upload/c_scale,h_450/v1460370669/nueva_l2bvia.jpg' %>

                    </div>
                    <div class="col-md-6">
                         <p>
                              <h6>Name : </h6>
                              <h4><%= @appointment.name %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Address : </h6>
                              <h4><%= @appointment.address %></h4>
                              <hr />
                          </p>
                         <p>
                              <h6>Email : </h6>
                              <h4><%= @appointment.email %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Contact : </h6>
                              <h4><%= @appointment.contact %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Date of Birth : </h6>
                              <h4><%= @appointment.dob.strftime('%B %d, %Y')  %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Date of Appointment : </h6>
                              <h4><%= @appointment.doa.strftime('%B %d, %Y')  %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Job : </h6>
                              <h4><%= @appointment.job %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Doctor: </h6>
                              <h4><%= @appointment.doctor.name %></h4>
                              <hr />
                         </p>
                         <p>
                              <h6>Doctor: </h6>
                              <h4><%= @appointment.doctor.field.area %></h4>
                              <hr />
                         </p>
                         <p>
                              <%= link_to "Back to Appointment", all_appointments_path, class: "btn btn-primary" %>
                         </p>
                    </div>

               </div>
          </div>
     </div>
</div>
