<div class="container">
     <div class="row">
          <div class="col-sm-9 col-md-5 col-lg-5 mx-auto ">
               <div class="card card-signin my-5">
                    <div class="card-body">
                         <h6 class="card-title text-center">Welcome to Nueva Clinica</h6>
                         <center>
                              <%= image_tag("https://res.cloudinary.com/gibetirol/image/upload/c_scale,w_100/v1460370669/nueva_l2bvia.jpg", class: "text-center" , style: "margin-bottom: 30px;") %>
                         </center>
                         <%= link_to "Staff Login", login_path, class: "btn btn-info btn-block btn-lg", style: "border-radius: 100px !important;"  %>
                         <%= link_to "Doctor's Login",  doctor_login_path, class: "btn btn-primary btn-block btn-lg", style: "border-radius: 100px !important;" %>
                         <%= link_to "Fill-out for Doctor's Appointment", new_appointment_path, class: "btn btn-success btn-block btn-lg",style: "border-radius: 100px !important;"  %>
                         <%= link_to "View Doctors", list_doctors_path, class: "btn btn-warning btn-block btn-lg", style: "border-radius: 100px !important;"  %>
                    <p style="margin-top: 20px; text-align: center">
                         Contact Number: 0921 861 0943
                    </p>
                    </div>

               </div>
          </div>
     </div>
</div>