<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gibe.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gibe.address %>
</p>

<%= link_to 'Edit', edit_gibe_path(@gibe) %> |
<%= link_to 'Back', gibes_path %>
