<!DOCTYPE html>
<html>
<head>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' >
	<title>Clinic11</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<% if logged_in? || logged_in_doctor? %>
		<div class="wrapper ">
			<%= render 'shared/header' %>
			<div class="main-panel">
				<%= render 'shared/navbar' %>
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-10">
								<% flash.each do |key, value|  %>
									<div class="alert alert-<%= key %>">
										<%= value %>
									</div>
								<% end %>
							</div>
							<%= yield %>
						</div>
					</div>
				</div>
				<%= render 'shared/footer' %>
			</div>
		</div>
	<% elsif current_page?(doctor_login_path) %>
		<%= yield %>
	<% else %>
		<%= yield %>
	<% end %>
	<%= debug(params) if Rails.env.development? %>
<script>
    $(document).ready(function() {
        $("a").attr({"target" : "_self"})
    })
</script>
</body>
</html>
